<div class="form-wrapper" ng-init="init()">
	<form class="login-form well well-lg" ng-submit="login()">
		<div class="form-row">
			<label for="username">Username</label>
			<input type="text" id="username" name="username" class="form-control" ng-model="username">
		</div>
		<div class="form-row">
			<label for="password">Password</label>
			<input type="password" id="password" name="password" class="form-control" ng-model="password">
		</div>
		<div class="form-row" ng-show="alertShow">
			<div class="alert alert-danger login-alert">
				<i class="icon-remove-sign"></i><strong>Error!</strong> <span>{{alertMessage}}</span>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
	</form>
</div>